body {
  background: rgb(18, 0, 36);
  background: linear-gradient(90deg, rgba(18, 0, 36, 1) 0%, rgba(86, 9, 121, 1) 50%, rgba(180, 0, 255, 1) 100%);
  color: aquamarine;
  overflow-y: hidden;
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  border: 1px solid aquamarine;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  box-shadow: 31px 29px 36px -11px black;
  border-radius: 10px;
}


.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid blueviolet;
  background-color: black;
  opacity: 0.5;
  color: aquamarine;
  padding: 15px;
  border-radius: 4px;
  transition: all 0.4s;
}

.formField input:focus {
  outline: none;
  opacity: 1;
}

input::placeholder {
  color: aquamarine;
}

.formField label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.submitBtn {
  background-color: #57097b;
  border: 1px solid aquamarine;
  color: aquamarine;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.4s;
}

.submitBtn:hover {
  background-color: #3e0658;
}

.errorMsg {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.msgOk {
  margin-top: 15px;
}